<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <title>Sobre </title>

  </head>

  <body>
    <section class="card-panel black darken-1 center card-title white-text">
    <a >
      <h5>Sobre</h5>
      <img class="my-sobre" src='assets/vacinaSobre.jpeg' />
    </a>
    <div>
      Intuito da aplicação:
    </div>
    <div class="descricao">Trabalho apresentado para fins de estudos acadêmicos
      e aprendizado a disciplina.
      <a>
      <i class="large material-icons ">child_care</i>
      </a>
    </div>

</section>

  </body>
</html>


