<div class="side-nav fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper black">
      <div class="container">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="assets/vacina.png" />
        </a>
        <div >
              <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                <i class="material-icons">menu</i>
              </a>
              <ul class=" right hide-on-med-and-down">
                <li><a routerLink="/cliente" class="flow-text" >
                  <span class="material-icons">
                    <i class="large material-icons ">add_box
                      <h6>CLIENTE</h6>
                    </i>


                  </span>
                </a>
              </li>
              <li><a routerLink="/vacina" class="flow-text" >
                <span class="material-icons ">
                  <i class="large material-icons">border_vertical
                    <h6>VACINA</h6>
                  </i>


                </span>
              </a>
            </li>

            <li><a routerLink="/consulta-cliente" class="flow-text" >
              <span class="material-icons">
                <i class="large material-icons">search


                  <h6>CONSULTAR CLIENTE </h6>
                </i>


              </span>
            </a>
          </li>
          <li><a routerLink="/consulta-vacina" class="flow-text" >
            <span class="material-icons">
              <i class="large material-icons">search
                  <h6>CONSULTAR VACINA </h6>
              </i>


            </span>
          </a>
        </li>

        <li><a routerLink="/sobre" class="flow-text" >
          <span class="material-icons">
            <i class="large material-icons">chat
                <h6>SOBRE APLICAÇÃO</h6>
            </i>


          </span>
        </a>
      </li>



              </ul>
              <ul class="sidenav brown blue-1 accent-4" id="mobile-demo" #mobile>
                <div class="row">
                  <div class="col s8">
                    <div class="center">
                      <a class="brand-logo" href="#">
                        <img class="my-logo" src="assets/vacina.png" />
                      </a>
                      <br>
                    </div>
                  </div>
                </div>
                      <li><a routerLink="/cliente" class="flow-text white-text"><i class="material-icons white-text">CLIENTE</i>CLIENTE</a></li>
                      <li><a routerLink="/consulta-cliente" class="flow-text white-text"><i class="material-icons white-text">CONSULTA CLIENTE</i>CONULTA CLIENTE</a></li>


              </ul>


        </div>
      </div>
    </div>


  </nav>

</div>



